</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD MOVIE
    </a>
    <a 
      href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>
    >
      ALL MOVIES
    </a>
  </nav>